<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

    <link href="../styles/main.css" rel="stylesheet">
    <link href="../styles/dashboard.css" rel="stylesheet">
    <script src="../scripts/menu.js" defer></script>

    <title>DASHBOARD</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <ul class="desktop-icons">
            <li>
                <i class="fa-solid fa-house"></i>
                <span>HOME</span>
            </li>
            <li>
                <i class="fa-solid fa-pizza-slice"></i>
                <span>OFERTA</span>
            </li>
        </ul>
        <ul class="mobile-icons">
            <li id="hamburger-menu">
                <i class="fa-solid fa-bars"></i>
                <span>MENU</span>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 1</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 1</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 1</p>
            </div>
            <div class="card">
                <img src="https://random.imagecdn.app/500/500">
                <p class="flex-column-center-center">CARD 1</p>
            </div>
        </section>
        <aside>
            <h1>Panel Zamówień</h1>
            <ul>
                <li><a href="#">📋 Przegląd zamówień</a></li>
                <li><a href="#">🍕 Nowe zamówienie</a></li>
                <li><a href="#">🚀 W trakcie realizacji</a></li>
                <li><a href="#">✅ Zrealizowane</a></li>
                <li><a href="#">👤 Klienci</a></li>
                <li><a href="#">📊 Statystyki</a></li>
                <li><a href="#">⚙️ Ustawienia</a></li>
            </ul>
        </aside>
    </main>
</body>
</html>